<!DOCTYPE html>

<html>

<title>Signin page</title>

<body>
    <script src="/static/signup/signup.js"></script>
    <link rel="stylesheet" href="/static/login/login.css">

    <div class="headercontainer">
        <div class="hlilnk">
            <a href="http://localhost:5000/login/user" class="h-text"> Login </a>
            <a href="http://localhost:5000/signup/user" class="h-text"> Singin </a>
        </div>
        <div> Social Connects </div>
    </div>

    <div class="image">
        <img src="/static/signup/image/human.png" class="image">
    </div>

    <div class="form-container">
        <h1> Join with Social Connects </h1>
        <hr noshade>
        <div class="input">
            <input type='text' placeholder="Username / Email" class="field", id = "username">
            <br>
            <input type='password' placeholder="Password" class='field' id="password1">
            <input type='password' placeholder="Re-Enter Password" class='field' id="passwrod2">
            <br>
            <input type='button' class='button' value='Signup' id="login">
        </div>
    </div>
</body>
</html>